h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}